#nameheader {
	text-decoration: none;
	color: black;
}

#nameheader:hover {
	color: grey;
	cursor: pointer;
}

#linkcontainer {
	display: flex;
	justify-content:space-around;
	flex: none;
}

.headercontainer {
	display:flex;
	flex-flow: column wrap;
	align-items: center;
}

.listcontainer {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
}

a {
	text-decoration: none;
}