.body {
	min-height: 100vh;
	display: flex;
	flex-direction: row;
}

.supercontainer {
	display: flex;
	flex: 1;
	background-color: #EAEAEA;
	font-family: "Helvetica";
	font-weight: lighter;
}

/*----------------------------------------- Page Content Settings ------------------------------------------ */

.pagecontents {
	flex: 1;
	border-top: 50px solid orange;
	border-right: 50px solid turquoise;
	padding: 0px 20px 0px 20px;
}

/*--------------------------------------- Navigation Bar Settings-------------------------------------------*/

/*--------------------------Navigation Bar Overall Container-------------------------------*/

.navigationcontainer {
	display: flex;
	flex-flow: column nowrap;
	flex: 0 0 200px;
	background-color: white;
	padding-right: 5px;
	border: 1px solid black;
}

.logo {
	color: black;
	text-align: center;
	margin-bottom: 50px;
	padding-top: 20px;
	font-family: "Century Gothic";
	font-size: 40px;
	font-weight: lighter;
}

/* ------------------------ Dropdown Container ----------------------------- */

/* -------Dropdown Container Behavior-------*/

.dropdown {
	display: flex;
	flex-flow: column nowrap;
	position: relative;
	font-family: "Century Gothic";
}

.dropdown:hover .dropdowncontent {
	display: flex;
	flex-flow: column nowrap;
	width: auto;
	height: 50px;
	animation: dropdownslidedown .3s;
	animation-fill-mode: forwards;
}

/* -----------Dropdown Content------------*/

.dropdowncontent {
	height: 0;
	width: 0;
	overflow: hidden;
}

@keyframes dropdownslidedown {
	0% {
		height: 0px;
	}
	100% {
		height: 50px;
	}
}

.dropdowncontent a {
	text-decoration: none;
	color: black;
	background-color: white;
	border-right: 3px outset grey;
	border-radius: 5px;
	text-align: center;
	height: 50px;
	width: auto;
}

.dropdowncontent a:hover {
	color: #130D71;
	border-right: 3px inset grey;
}

.currentpage {
	font-weight: bold;
}

/* -----------Dropdown Buttons------------*/

.dropdownbutton {
	border-right: 3px outset grey;
	border-radius: 5px;
	width: 200px;
	text-align: center;
	color: black;
	background-color: white;
}

.dropdownbutton a {
	text-decoration: none;
	color:black;
}

.dropdownbutton a:hover {
	color: #130D71;
}

.dropdownbutton:hover {
	color: #130D71;
	cursor: pointer;
	border-right: 3px inset grey;
	border-radius: 10px;
	animation: buttontransform .15s;
}

@keyframes buttontransform {
	0% {
		border-radius: 5px;
	}

	100% {
		border-radius: 10px;
	}
}


/*------------------------------------------ End of Navigation -------------------------------------------*/
