#nameheader {
	text-decoration: none;
	color: black;
}

#nameheader:hover {
	color: grey;
	cursor: pointer;
}

#overalllinkcontainer {
	display: flex;
	justify-content:center;
	flex: none;
}

/* ------------------------------------ Dropdown ----------------------------------------- */

/* -----------------------*/

.dropdown {
	display: inline-block;
	position: relative;
}

.dropdown:hover .dropdowncontent {
	display: flex;
	flex-flow: column nowrap;
	flex: 0 1 auto;
}

/* -----------------------*/

.dropdowncontent {
	display: none;
	position: absolute;
}

.dropdowncontent a {
	text-decoration: none;
	color: #2820B3;
	background-color: #FF9C0C;
	border: 1px solid black;
	border-radius: 5px;
	width: 200px;
	text-align: center;
}

.dropdowncontent a:hover {
	color: #130D71;
	border: 2px solid black;
}

/* -----------------------*/

.dropdownbutton {
	border: 1px solid black;
	border-radius: 5px;
	width: 200px;
	text-align: center;
	color: #2820B3;
	background-color: #08AD73;
}

.dropdownbutton:hover {
	color: #130D71;
	cursor: pointer;
	border: 2px solid black;
}