.rpsboard {
	width: 1050px;
	padding-top: 20px;
	margin:auto;
}

.maintitle {
	text-align: center;
}

.weapontitle {
	text-align: center;
}

/* ---------------Replay Button Behavior------------------ */

.replaybutton {
	width: 150px;
	margin: auto;
	margin-top: 50px;
	border: 2px outset grey;
	border-radius: 5px;
	background: white;
	font-weight: bolder;
	font-size: 24px;
	color: black;
	text-align: center;
	line-height: 50px;
}

.replaybutton a {
	text-decoration: none;
	color: black;
}

.replaybutton:visited {
	color: black;
}

.replaybutton:hover {
	border: 3px outset grey;
	transition: border .1s ease-in-out;
}

/* ------------- RPS Weapon Choice Container ------------- */

.rpsweapons {
	display: flex;
	flex-flow: row nowrap;
	height: 350px;
}

.rpsweapons a {
	display: flex;
}

/* ------- Player and Computer Choice Containers -------- */

.results {
	display: flex;
	flex-flow: row nowrap;
	height: 350px;
	margin-top: 85px;
}

.playerchoice {
	display: flex;
	flex-flow: column nowrap;
}

.playerchoice h2 {
	text-align: center;
}

.computerchoice {
	display: flex;
	flex-flow: column nowrap;
}

.computerchoice h2 {
	text-align: center;
}

