#pagecontents {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

#results {
	display: flex;
	flex-flow: row nowrap;
	height: 350px;
	width: 1050px;
}

/* ---------------Replay Button Behavior------------------ */

#replaybutton {
	text-decoration: none;
	border: 1px outset grey;
	border-radius: 5px;
	background: white;
	height: 50px;
	width: 150px;
	font-weight: bolder;
	font-size: 24px;
	text-align: center;
	line-height: 50px;
	margin-top: 30px;
}

#replaybutton:visited {
	color: black;
}

#replaybutton:hover {
	border: 3px outset grey;
	transition: border .1s ease-in-out;
}

/* ------------- RPS Weapon Choice Container ------------- */

#rpsweapons {
	display: flex;
	flex-flow: row nowrap;
	height: 350px;
	width: 1050px;
}

#rpsweapons a {
	display: flex;
}

/* ------- Player and Computer Choice Containers -------- */

#playerchoice {
	display: flex;
	flex-flow: column nowrap;
}

#playerchoice img {
	display:flex;
}

#playerchoice h2 {
	text-align: center;
}

#computerchoice {
	display: flex;
	flex-flow: column nowrap;
}

#computerchoice img {
	display: flex;
}

#computerchoice h2 {
	text-align: center;
}

