#pagecontents {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

.tttbox {
	display: flex;
	flex-flow: column nowrap;
	height: auto;
	width:auto;
	align-items: center;
	margin-top: 50px;
	border: 3px solid black;
	border-radius: 10px;
	padding: 1px;
	background: white;
}

.boxtitle {
	display: flex;
	height: 50px;
	justify-content: center;
	margin: 20px 0px 20px 0px;
	font-size: 36px;
	font-weight: bolder;
	color: black;
}

.switcher {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
	border: 2px solid black;
	border-radius: 5px;
}

.switcher__single {
	border-right: 1px solid black;
	padding: 5px;
	text-decoration: none;
	color: black;
}

.switcher__double {
	border-left: 1px solid black;
	padding: 5px;
	text-decoration: none;
	color: black;
}

.row {
	display: flex;
	flex-flow: row nowrap;
}

.row a {
	text-decoration: none;
	color: black;
}

.square {
	display: flex;
	height: 100px;
	width: 100px;
	border: 3px solid black;
	border-radius: 10px;
	font-size: 50px;
	align-items: center;
	justify-content: center;
}

.playerturn {
	display: flex;
	margin-top: 25px;
	color: black;
}

.winner {
	display: flex;
	margin-top: 10px;
	font-size: 40px;
	color: black;
}

.resetbutton {
	display: flex;
	height: 30px;
	width: 70px;
	justify-content: center;
	line-height: 30px;
	margin: 20px 0px 20px 0px;
	border: 2px solid black;
	border-radius: 3px;
	padding: 2px 4px 2px 4px;
}

.resetbutton a {
	text-decoration: none;
	color: black;
}


